numpy
pytest
pytest-cov
setuptools
scipy
black
flake8
pandas
jupytext
jupyter
matplotlib
pylint
scikit-learn
twine
build

# Documentation Requirements
sphinxcontrib-napoleon
nbsphinx
ipython
sphinx_rtd_theme
numpydoc
