name: Python CI

on: 
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # Allow one of the matrix builds to fail without failing others
      matrix:
        os: [ubuntu-latest] # , macos-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']
        
        
    # The job
    name: Python ${{ matrix.python-version }} / ${{ matrix.os }}
    
    # The steps in the job. Each step either RUNS code, or USES an action
    steps:
    
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          
      - name: Run linting
        run: |
          pip install pip --upgrade
          pip install black flake8 --upgrade
          black generalized_additive_models docs --check -l 120
          flake8 generalized_additive_models docs --select=F811,F841,F401,E711,E712,E731 \
                 --exclude=tests,'*ipynb_checkpoints*'
          
          # pylint pygam --errors-only --max-line-length 120 --recursive y
          
      - name: Run tests
        run: |
          pip install pytest --upgrade
          pip install -r requirements.txt
          pip install .
          pip install --pre --extra-index https://pypi.anaconda.org/scipy-wheels-nightly/simple scikit-learn --upgrade
          pytest generalized_additive_models --doctest-modules
          
      - name: Build documentation
        run: |
          sudo apt install pandoc -y
          sphinx-build docs _built_docs/html -W
          
      - name: Build package
        run: |
          python -m build
          twine check dist/* --strict
          
      # https://github.com/pypa/gh-action-pypi-publish
      - name: Publish Python distribution to PyPI
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@22b4d1f12511f2696162c08546dafbaa903448a2
        with:
          skip-existing: true
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
